# Node modules (not needed since Bun will install them inside the container)
node_modules

# Build artifacts (should be generated inside the container)
build
dist
.output
.vinixi

# Local environment files (use Docker's ENV or secrets instead)
.env.local
.env.development
.env.test

# Logs
npm-debug.log
bun-debug.log
yarn-debug.log
yarn-error.log

# System files
.DS_Store
Thumbs.db

# Git files
.git
.gitignore
